<div class="detail-section">
    <div  class="container-fluid">
        <div *ngFor="let temproduct of product" style="margin-top:100px">
            <p>{{temproduct.name}}</p>
            <img src="assets/images/{{temproduct.imageName}}" height="300" width="300" />
            <div class="price">{{temproduct.price|currency:'USD'}}</div>
            <P>{{temproduct.comments}}</P>
            <button (click)="AddToCart(temproduct)" class="btn btn-primary btn-sm">AddToCart</button>
        </div>
    </div>
</div>
